@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800);
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/*------------------------------------*/
@font-face {
  font-family: "Myriad Pro";
  src: url("./../fonts/AnyConv.com__myriadpro-light.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("./../fonts/AnyConv.com__ofont.ru_Myriad Pro.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
a:hover {
  color: #e0c007;
  transform: scale(1.1);
}

.none {
  display: none !important;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #ccc;
}
body.lock {
  overflow: hidden;
}

.container {
  max-width: 1630px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.nav {
  width: 100%;
  padding-top: 29px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pex__img {
  position: absolute;
  left: 252px;
  top: 42px;
  width: 41px;
  height: 21px;
  z-index: 1;
  cursor: pointer;
  transition: 0.3s;
}
.pex__img:hover {
  transform: scale(1.2);
}

.pex1__img {
  position: absolute;
  left: 302px;
  top: 44px;
  width: 133px;
  height: 11px;
  z-index: 1;
}

.burger-btn {
  display: block;
  width: 40px;
  height: 30px;
  position: relative;
  z-index: 3;
  cursor: pointer;
}
.burger-btn span {
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: all 0.6s;
}
.burger-btn span:first-child {
  top: 0;
}
.burger-btn span:last-child {
  top: auto;
  bottom: 0;
}
.burger-btn.active span {
  transform: scale(0);
}
.burger-btn.active span:first-child {
  transform: rotate(-45deg);
  top: calc(50% - 1px);
}
.burger-btn.active span:last-child {
  transform: rotate(45deg);
  bottom: calc(50% - 1px);
}

.burger-btn {
  display: none;
}

.nav__menu {
  display: flex;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 49px;
  margin-right: 28px;
}

.nav__link {
  font-size: 13px;
  color: rgb(255, 255, 255);
  line-height: 1.846;
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  transition: color 0.3s linear;
  position: relative;
}
.nav__link:hover {
  transform: scale(1.2);
  transition: all 0.3s linear;
}
.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  top: 30px;
  width: 100%;
  height: 2px;
  background-color: #fff;
  opacity: 0;
  transition: all 0.3s linear;
}
.nav__link:hover::after {
  background-color: #e0c007;
  opacity: 1;
}

.nav-btn {
  font-size: 12px;
  font-family: "Open Sans";
  color: rgb(98, 98, 98);
  line-height: 6.2;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(242, 242, 242);
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  padding: 2px 0px 0px 27px;
  gap: 80px;
  display: flex;
  align-items: center;
  margin-right: 34px;
  width: 220px;
  height: 43px;
  transition: 0.3s;
}
.nav-btn:hover {
  background-color: rgb(225, 224, 224);
  transform: scale(1.05);
}

.my-search {
  font-size: 14px;
  font-family: "FontAwesome";
  color: rgb(182, 182, 182);
  text-align: left;
}